POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=evently_db

JWT__KEY=this_is_a_very_long_and_secure_secret_key_1234567890
JWT__ISSUER=Evently.Api
JWT__AUDIENCE=Evently.Client

ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080

CONNECTIONSTRINGS__DEFAULTCONNECTION=Host=evently-db;Port=5432;Database=evently_db;Username=postgres;Password=postgres
